In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

train = pd.read_csv('train_modified.csv')
test  = pd.read_csv('test_modified.csv')

In [2]:
print (train.info())
print "###############################"
print (test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87020 entries, 0 to 87019
Data columns (total 52 columns):
Unnamed: 0                    87020 non-null int64
Disbursed                     87020 non-null float64
Existing_EMI                  87020 non-null float64
ID                            87020 non-null object
Loan_Amount_Applied           87020 non-null float64
Loan_Tenure_Applied           87020 non-null float64
Monthly_Income                87020 non-null int64
Var4                          87020 non-null int64
Var5                          87020 non-null int64
Age                           87020 non-null int64
EMI_Loan_Submitted_Missing    87020 non-null int64
Interest_Rate_New             87020 non-null int64
Loan_Tenure_Submitted_New     87020 non-null int64
Loan_Amount_Submitted_New     87020 non-null int64
Processing_Fee_New            87020 non-null int64
Device_Type_0                 87020 non-null int64
Device_Type_1                 87020 non-null int64
Filled_Form_0                 87020 non-null int64
Filled_Form_1                 87020 non-null int64
Gender_0                      87020 non-null int64
Gender_1                      87020 non-null int64
Var1_0                        87020 non-null int64
Var1_1                        87020 non-null int64
Var1_2                        87020 non-null int64
Var1_3                        87020 non-null int64
Var1_4                        87020 non-null int64
Var1_5                        87020 non-null int64
Var1_6                        87020 non-null int64
Var1_7                        87020 non-null int64
Var1_8                        87020 non-null int64
Var1_9                        87020 non-null int64
Var1_10                       87020 non-null int64
Var1_11                       87020 non-null int64
Var1_12                       87020 non-null int64
Var1_13                       87020 non-null int64
Var1_14                       87020 non-null int64
Var1_15                       87020 non-null int64
Var1_16                       87020 non-null int64
Var1_17                       87020 non-null int64
Var1_18                       87020 non-null int64
Var2_0                        87020 non-null int64
Var2_1                        87020 non-null int64
Var2_2                        87020 non-null int64
Var2_3                        87020 non-null int64
Var2_4                        87020 non-null int64
Var2_5                        87020 non-null int64
Var2_6                        87020 non-null int64
Mobile_Verified_0             87020 non-null int64
Mobile_Verified_1             87020 non-null int64
Source_0                      87020 non-null int64
Source_1                      87020 non-null int64
Source_2                      87020 non-null int64
dtypes: float64(4), int64(47), object(1)
memory usage: 34.5+ MB
None
###############################
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37717 entries, 0 to 37716
Data columns (total 52 columns):
Unnamed: 0                    37717 non-null int64
Disbursed                     0 non-null float64
Existing_EMI                  37717 non-null float64
ID                            37717 non-null object
Loan_Amount_Applied           37717 non-null float64
Loan_Tenure_Applied           37717 non-null float64
Monthly_Income                37717 non-null int64
Var4                          37717 non-null int64
Var5                          37717 non-null int64
Age                           37717 non-null int64
EMI_Loan_Submitted_Missing    37717 non-null int64
Interest_Rate_New             37717 non-null int64
Loan_Tenure_Submitted_New     37717 non-null int64
Loan_Amount_Submitted_New     37717 non-null int64
Processing_Fee_New            37717 non-null int64
Device_Type_0                 37717 non-null int64
Device_Type_1                 37717 non-null int64
Filled_Form_0                 37717 non-null int64
Filled_Form_1                 37717 non-null int64
Gender_0                      37717 non-null int64
Gender_1                      37717 non-null int64
Var1_0                        37717 non-null int64
Var1_1                        37717 non-null int64
Var1_2                        37717 non-null int64
Var1_3                        37717 non-null int64
Var1_4                        37717 non-null int64
Var1_5                        37717 non-null int64
Var1_6                        37717 non-null int64
Var1_7                        37717 non-null int64
Var1_8                        37717 non-null int64
Var1_9                        37717 non-null int64
Var1_10                       37717 non-null int64
Var1_11                       37717 non-null int64
Var1_12                       37717 non-null int64
Var1_13                       37717 non-null int64
Var1_14                       37717 non-null int64
Var1_15                       37717 non-null int64
Var1_16                       37717 non-null int64
Var1_17                       37717 non-null int64
Var1_18                       37717 non-null int64
Var2_0                        37717 non-null int64
Var2_1                        37717 non-null int64
Var2_2                        37717 non-null int64
Var2_3                        37717 non-null int64
Var2_4                        37717 non-null int64
Var2_5                        37717 non-null int64
Var2_6                        37717 non-null int64
Mobile_Verified_0             37717 non-null int64
Mobile_Verified_1             37717 non-null int64
Source_0                      37717 non-null int64
Source_1                      37717 non-null int64
Source_2                      37717 non-null int64
dtypes: float64(4), int64(47), object(1)
memory usage: 15.0+ MB
None

In [3]:
y = train['Disbursed']
train.drop(['ID', 'Disbursed'], axis=1, inplace=True)
X = train
type(X), type(y)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [4]:
# import classifier 
from sklearn import tree

In [5]:
clf = tree.DecisionTreeClassifier(criterion='gini')
#DecisionTreeRegression for regression
# criterion is technique of spliting like Gini, Information Gain, Chi-square, entropy

In [6]:
# Training model 
clf.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [7]:
# score determining
clf.score(X,y)

1.0

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=20)

In [9]:
clf = tree.DecisionTreeClassifier(criterion='gini')
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [10]:
from sklearn.metrics import accuracy_score
pred = clf.predict(X_test)

In [11]:
accuracy_score(y_pred=pred,y_true=y_test)

0.96851298552056997

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37717 entries, 0 to 37716
Data columns (total 52 columns):
Unnamed: 0                    37717 non-null int64
Disbursed                     0 non-null float64
Existing_EMI                  37717 non-null float64
ID                            37717 non-null object
Loan_Amount_Applied           37717 non-null float64
Loan_Tenure_Applied           37717 non-null float64
Monthly_Income                37717 non-null int64
Var4                          37717 non-null int64
Var5                          37717 non-null int64
Age                           37717 non-null int64
EMI_Loan_Submitted_Missing    37717 non-null int64
Interest_Rate_New             37717 non-null int64
Loan_Tenure_Submitted_New     37717 non-null int64
Loan_Amount_Submitted_New     37717 non-null int64
Processing_Fee_New            37717 non-null int64
Device_Type_0                 37717 non-null int64
Device_Type_1                 37717 non-null int64
Filled_Form_0                 37717 non-null int64
Filled_Form_1                 37717 non-null int64
Gender_0                      37717 non-null int64
Gender_1                      37717 non-null int64
Var1_0                        37717 non-null int64
Var1_1                        37717 non-null int64
Var1_2                        37717 non-null int64
Var1_3                        37717 non-null int64
Var1_4                        37717 non-null int64
Var1_5                        37717 non-null int64
Var1_6                        37717 non-null int64
Var1_7                        37717 non-null int64
Var1_8                        37717 non-null int64
Var1_9                        37717 non-null int64
Var1_10                       37717 non-null int64
Var1_11                       37717 non-null int64
Var1_12                       37717 non-null int64
Var1_13                       37717 non-null int64
Var1_14                       37717 non-null int64
Var1_15                       37717 non-null int64
Var1_16                       37717 non-null int64
Var1_17                       37717 non-null int64
Var1_18                       37717 non-null int64
Var2_0                        37717 non-null int64
Var2_1                        37717 non-null int64
Var2_2                        37717 non-null int64
Var2_3                        37717 non-null int64
Var2_4                        37717 non-null int64
Var2_5                        37717 non-null int64
Var2_6                        37717 non-null int64
Mobile_Verified_0             37717 non-null int64
Mobile_Verified_1             37717 non-null int64
Source_0                      37717 non-null int64
Source_1                      37717 non-null int64
Source_2                      37717 non-null int64
dtypes: float64(4), int64(47), object(1)
memory usage: 15.0+ MB

In [13]:
col = [x for x in test.columns if x not in ['ID','Disbursed']]

In [17]:
X_ = test[col]
prediction = clf.predict(X_)
prediction.shape

(37717,)

In [18]:
test['Disbursed']=prediction

In [19]:
test.head()

,Unnamed: 0,Disbursed,Existing_EMI,ID,Loan_Amount_Applied,Loan_Tenure_Applied,Monthly_Income,Var4,Var5,Age,...,Var2_2,Var2_3,Var2_4,Var2_5,Var2_6,Mobile_Verified_0,Mobile_Verified_1,Source_0,Source_1,Source_2
0,87020,0.0,0.0,ID000026A10,100000.0,3.0,21500,3,3,28,...,0,0,0,0,0,0,1,1,0,0
1,87021,0.0,0.0,ID000054C40,0.0,0.0,42000,5,8,35,...,1,0,0,0,0,0,1,0,1,0
2,87022,0.0,0.0,ID000066O10,300000.0,2.0,10000,1,0,26,...,0,0,0,0,0,1,0,0,1,0
3,87023,0.0,0.0,ID000110G00,0.0,0.0,14650,1,0,24,...,1,0,0,0,0,1,0,0,1,0
4,87024,0.0,5000.0,ID000113J30,100000.0,1.0,23400,1,0,28,...,0,0,0,0,0,0,1,0,0,1