In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
train = pd.read_csv('train_modified.csv')
test = pd.read_csv('test_modified.csv')

In [33]:
print (train.info())
print (test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87020 entries, 0 to 87019
Data columns (total 52 columns):
Unnamed: 0                    87020 non-null int64
Disbursed                     87020 non-null float64
Existing_EMI                  87020 non-null float64
ID                            87020 non-null object
Loan_Amount_Applied           87020 non-null float64
Loan_Tenure_Applied           87020 non-null float64
Monthly_Income                87020 non-null int64
Var4                          87020 non-null int64
Var5                          87020 non-null int64
Age                           87020 non-null int64
EMI_Loan_Submitted_Missing    87020 non-null int64
Interest_Rate_New             87020 non-null int64
Loan_Tenure_Submitted_New     87020 non-null int64
Loan_Amount_Submitted_New     87020 non-null int64
Processing_Fee_New            87020 non-null int64
Device_Type_0                 87020 non-null int64
Device_Type_1                 87020 non-null int64
Filled_Form_0                 87020 non-null int64
Filled_Form_1                 87020 non-null int64
Gender_0                      87020 non-null int64
Gender_1                      87020 non-null int64
Var1_0                        87020 non-null int64
Var1_1                        87020 non-null int64
Var1_2                        87020 non-null int64
Var1_3                        87020 non-null int64
Var1_4                        87020 non-null int64
Var1_5                        87020 non-null int64
Var1_6                        87020 non-null int64
Var1_7                        87020 non-null int64
Var1_8                        87020 non-null int64
Var1_9                        87020 non-null int64
Var1_10                       87020 non-null int64
Var1_11                       87020 non-null int64
Var1_12                       87020 non-null int64
Var1_13                       87020 non-null int64
Var1_14                       87020 non-null int64
Var1_15                       87020 non-null int64
Var1_16                       87020 non-null int64
Var1_17                       87020 non-null int64
Var1_18                       87020 non-null int64
Var2_0                        87020 non-null int64
Var2_1                        87020 non-null int64
Var2_2                        87020 non-null int64
Var2_3                        87020 non-null int64
Var2_4                        87020 non-null int64
Var2_5                        87020 non-null int64
Var2_6                        87020 non-null int64
Mobile_Verified_0             87020 non-null int64
Mobile_Verified_1             87020 non-null int64
Source_0                      87020 non-null int64
Source_1                      87020 non-null int64
Source_2                      87020 non-null int64
dtypes: float64(4), int64(47), object(1)
memory usage: 34.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37717 entries, 0 to 37716
Data columns (total 52 columns):
Unnamed: 0                    37717 non-null int64
Disbursed                     0 non-null float64
Existing_EMI                  37717 non-null float64
ID                            37717 non-null object
Loan_Amount_Applied           37717 non-null float64
Loan_Tenure_Applied           37717 non-null float64
Monthly_Income                37717 non-null int64
Var4                          37717 non-null int64
Var5                          37717 non-null int64
Age                           37717 non-null int64
EMI_Loan_Submitted_Missing    37717 non-null int64
Interest_Rate_New             37717 non-null int64
Loan_Tenure_Submitted_New     37717 non-null int64
Loan_Amount_Submitted_New     37717 non-null int64
Processing_Fee_New            37717 non-null int64
Device_Type_0                 37717 non-null int64
Device_Type_1                 37717 non-null int64
Filled_Form_0                 37717 non-null int64
Filled_Form_1                 37717 non-null int64
Gender_0                      37717 non-null int64
Gender_1                      37717 non-null int64
Var1_0                        37717 non-null int64
Var1_1                        37717 non-null int64
Var1_2                        37717 non-null int64
Var1_3                        37717 non-null int64
Var1_4                        37717 non-null int64
Var1_5                        37717 non-null int64
Var1_6                        37717 non-null int64
Var1_7                        37717 non-null int64
Var1_8                        37717 non-null int64
Var1_9                        37717 non-null int64
Var1_10                       37717 non-null int64
Var1_11                       37717 non-null int64
Var1_12                       37717 non-null int64
Var1_13                       37717 non-null int64
Var1_14                       37717 non-null int64
Var1_15                       37717 non-null int64
Var1_16                       37717 non-null int64
Var1_17                       37717 non-null int64
Var1_18                       37717 non-null int64
Var2_0                        37717 non-null int64
Var2_1                        37717 non-null int64
Var2_2                        37717 non-null int64
Var2_3                        37717 non-null int64
Var2_4                        37717 non-null int64
Var2_5                        37717 non-null int64
Var2_6                        37717 non-null int64
Mobile_Verified_0             37717 non-null int64
Mobile_Verified_1             37717 non-null int64
Source_0                      37717 non-null int64
Source_1                      37717 non-null int64
Source_2                      37717 non-null int64
dtypes: float64(4), int64(47), object(1)
memory usage: 15.0+ MB
None

In [34]:
#Model importing Liner Regression
from sklearn import linear_model

#splitting train data into X_train,X_test,y_train,y_test , For accuracy check
from sklearn.model_selection import train_test_split
from sklearn.metrics import  accuracy_score

In [48]:
y = train['Disbursed']
col = list(set(train.columns) - set(['Disbursed' , 'ID']))
X = train[col]
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=22, test_size=0.40)

In [49]:
X_train.shape, X_test.shape, len(y_train), len(y_test)

((52212, 50), (34808, 50), 52212, 34808)

In [50]:
#Preparing the linear Regressioin model
model = linear_model.LinearRegression()

In [51]:
#training the Linear Regression model
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [52]:
model.score(X_train, y_train)

0.021310309226762914

In [53]:
print (model.coef_)
print (model.intercept_)

[ -2.73031355e+04   1.44209882e-03  -2.73031451e+04   2.24618638e-03
  -1.41151979e-10   3.44261935e-08   1.70430008e-04  -3.17777449e-09
  -9.10104230e+03  -5.77804422e-03   4.90966691e-03   8.67507300e-04
  -9.10104230e+03   3.06042726e-04  -2.73031382e+04  -2.73031126e+04
  -5.64147458e-03   5.64148267e-03  -1.69770583e-03  -2.73031003e+04
  -2.73031047e+04  -2.73031247e+04  -2.73031412e+04  -2.73031412e+04
  -1.70087819e-03  -2.73031227e+04  -2.73031594e+04  -9.10104230e+03
  -2.73031463e+04  -2.73031217e+04  -2.73031367e+04  -2.73031589e+04
  -2.73031593e+04   7.26205175e-03  -1.48396370e-02  -1.66593610e-04
  -2.73031591e+04   7.86207538e-04  -2.73031523e+04  -3.54376037e-03
  -2.49067843e-06  -4.04460987e-03   4.04461195e-03   2.50765879e-08
   4.19283354e-03  -4.19283332e-03  -1.70087836e-03   7.47628095e-03
  -6.06452529e-03   2.86134504e-03]
27303.1283101

In [58]:
predict = model.predict(X_test)

In [70]:
#test.drop(['ID'],axis=1,inplace=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37717 entries, 0 to 37716
Data columns (total 50 columns):
Unnamed: 0                    37717 non-null int64
Existing_EMI                  37717 non-null float64
Loan_Amount_Applied           37717 non-null float64
Loan_Tenure_Applied           37717 non-null float64
Monthly_Income                37717 non-null int64
Var4                          37717 non-null int64
Var5                          37717 non-null int64
Age                           37717 non-null int64
EMI_Loan_Submitted_Missing    37717 non-null int64
Interest_Rate_New             37717 non-null int64
Loan_Tenure_Submitted_New     37717 non-null int64
Loan_Amount_Submitted_New     37717 non-null int64
Processing_Fee_New            37717 non-null int64
Device_Type_0                 37717 non-null int64
Device_Type_1                 37717 non-null int64
Filled_Form_0                 37717 non-null int64
Filled_Form_1                 37717 non-null int64
Gender_0                      37717 non-null int64
Gender_1                      37717 non-null int64
Var1_0                        37717 non-null int64
Var1_1                        37717 non-null int64
Var1_2                        37717 non-null int64
Var1_3                        37717 non-null int64
Var1_4                        37717 non-null int64
Var1_5                        37717 non-null int64
Var1_6                        37717 non-null int64
Var1_7                        37717 non-null int64
Var1_8                        37717 non-null int64
Var1_9                        37717 non-null int64
Var1_10                       37717 non-null int64
Var1_11                       37717 non-null int64
Var1_12                       37717 non-null int64
Var1_13                       37717 non-null int64
Var1_14                       37717 non-null int64
Var1_15                       37717 non-null int64
Var1_16                       37717 non-null int64
Var1_17                       37717 non-null int64
Var1_18                       37717 non-null int64
Var2_0                        37717 non-null int64
Var2_1                        37717 non-null int64
Var2_2                        37717 non-null int64
Var2_3                        37717 non-null int64
Var2_4                        37717 non-null int64
Var2_5                        37717 non-null int64
Var2_6                        37717 non-null int64
Mobile_Verified_0             37717 non-null int64
Mobile_Verified_1             37717 non-null int64
Source_0                      37717 non-null int64
Source_1                      37717 non-null int64
Source_2                      37717 non-null int64
dtypes: float64(3), int64(47)
memory usage: 14.4 MB

In [68]:
test.drop(['Disbursed'],axis=1, inplace=True)

In [71]:
prediction = model.predict(test)

In [72]:
test['Disbursed']=prediction

In [73]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37717 entries, 0 to 37716
Data columns (total 51 columns):
Unnamed: 0                    37717 non-null int64
Existing_EMI                  37717 non-null float64
Loan_Amount_Applied           37717 non-null float64
Loan_Tenure_Applied           37717 non-null float64
Monthly_Income                37717 non-null int64
Var4                          37717 non-null int64
Var5                          37717 non-null int64
Age                           37717 non-null int64
EMI_Loan_Submitted_Missing    37717 non-null int64
Interest_Rate_New             37717 non-null int64
Loan_Tenure_Submitted_New     37717 non-null int64
Loan_Amount_Submitted_New     37717 non-null int64
Processing_Fee_New            37717 non-null int64
Device_Type_0                 37717 non-null int64
Device_Type_1                 37717 non-null int64
Filled_Form_0                 37717 non-null int64
Filled_Form_1                 37717 non-null int64
Gender_0                      37717 non-null int64
Gender_1                      37717 non-null int64
Var1_0                        37717 non-null int64
Var1_1                        37717 non-null int64
Var1_2                        37717 non-null int64
Var1_3                        37717 non-null int64
Var1_4                        37717 non-null int64
Var1_5                        37717 non-null int64
Var1_6                        37717 non-null int64
Var1_7                        37717 non-null int64
Var1_8                        37717 non-null int64
Var1_9                        37717 non-null int64
Var1_10                       37717 non-null int64
Var1_11                       37717 non-null int64
Var1_12                       37717 non-null int64
Var1_13                       37717 non-null int64
Var1_14                       37717 non-null int64
Var1_15                       37717 non-null int64
Var1_16                       37717 non-null int64
Var1_17                       37717 non-null int64
Var1_18                       37717 non-null int64
Var2_0                        37717 non-null int64
Var2_1                        37717 non-null int64
Var2_2                        37717 non-null int64
Var2_3                        37717 non-null int64
Var2_4                        37717 non-null int64
Var2_5                        37717 non-null int64
Var2_6                        37717 non-null int64
Mobile_Verified_0             37717 non-null int64
Mobile_Verified_1             37717 non-null int64
Source_0                      37717 non-null int64
Source_1                      37717 non-null int64
Source_2                      37717 non-null int64
Disbursed                     37717 non-null float64
dtypes: float64(4), int64(47)
memory usage: 14.7 MB

In [74]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87020 entries, 0 to 87019
Data columns (total 52 columns):
Unnamed: 0                    87020 non-null int64
Disbursed                     87020 non-null float64
Existing_EMI                  87020 non-null float64
ID                            87020 non-null object
Loan_Amount_Applied           87020 non-null float64
Loan_Tenure_Applied           87020 non-null float64
Monthly_Income                87020 non-null int64
Var4                          87020 non-null int64
Var5                          87020 non-null int64
Age                           87020 non-null int64
EMI_Loan_Submitted_Missing    87020 non-null int64
Interest_Rate_New             87020 non-null int64
Loan_Tenure_Submitted_New     87020 non-null int64
Loan_Amount_Submitted_New     87020 non-null int64
Processing_Fee_New            87020 non-null int64
Device_Type_0                 87020 non-null int64
Device_Type_1                 87020 non-null int64
Filled_Form_0                 87020 non-null int64
Filled_Form_1                 87020 non-null int64
Gender_0                      87020 non-null int64
Gender_1                      87020 non-null int64
Var1_0                        87020 non-null int64
Var1_1                        87020 non-null int64
Var1_2                        87020 non-null int64
Var1_3                        87020 non-null int64
Var1_4                        87020 non-null int64
Var1_5                        87020 non-null int64
Var1_6                        87020 non-null int64
Var1_7                        87020 non-null int64
Var1_8                        87020 non-null int64
Var1_9                        87020 non-null int64
Var1_10                       87020 non-null int64
Var1_11                       87020 non-null int64
Var1_12                       87020 non-null int64
Var1_13                       87020 non-null int64
Var1_14                       87020 non-null int64
Var1_15                       87020 non-null int64
Var1_16                       87020 non-null int64
Var1_17                       87020 non-null int64
Var1_18                       87020 non-null int64
Var2_0                        87020 non-null int64
Var2_1                        87020 non-null int64
Var2_2                        87020 non-null int64
Var2_3                        87020 non-null int64
Var2_4                        87020 non-null int64
Var2_5                        87020 non-null int64
Var2_6                        87020 non-null int64
Mobile_Verified_0             87020 non-null int64
Mobile_Verified_1             87020 non-null int64
Source_0                      87020 non-null int64
Source_1                      87020 non-null int64
Source_2                      87020 non-null int64
dtypes: float64(4), int64(47), object(1)
memory usage: 34.5+ MB

In [79]:
max(test['Disbursed']),min(test['Disbursed'])

(-2375946151.1504607, -412812076251.05438)

In [95]:
X_train.shape, X_test.shape, len(y_train), len(y_test)

((52212, 50), (34808, 50), 52212, 34808)

In [96]:
model.score(X,y)

0.019087347615454164